{% extends 'starter-page.html' %}
{% load static %}
{% block content %}
     <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-5">
            <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Abuot US</h3>
              <p>
                The project was created by the AICEE group; a non-governmental initiative made up of individuals from different walks of life. An
              </p>
                <P>
                    organization of smart and forward thinking visionary people who believe in holistic wealth.
                </P>
                <p>
                    With Flouksware lifestyle project, selected partners can control global market share without manufacturing, production, logistics,
                </p>
                <p>
                    international certification and road selling.
                </p>
                <h3>
                  Flouksware Lifestyle Project enables qualified individuals to:
                </h3>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i>Tap into its cash flow compounding services to generate funds for business projects. </li>
                <li><i class="bi bi-check-circle-fill"></i> It allows you to access discounted and free lifestyle packages globally.</li>
                <li><i class="bi bi-check-circle-fill"></i> Enables you to access to effective health maintenance organizations (HMO) services.</li>
                <li><i class="bi bi-check-circle-fill"></i>Enables you to own your dream home through our real estate program. </li>
                <li><i class="bi bi-check-circle-fill"></i> Allows you to access discounted and free exquisite vacations across exotic locations globally.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

{% endblock %}