{% extends 'starter-page.html' %}
{% load static %}
{% block content %}
     <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up col-4">
        <h2>Services</h2>
        <p>these are some of our services that we offer to our clients</p>
      </div><!-- End Section Title -->
<div class="d-flex col-4 ms-5 container">
            <div class="col-4 ">
            <h2>Delivery</h2>
            <img src="{% static 'assets/img/img_6.png' %}" class="img-fluid" alt="">
            <p>In our company delivery is for free all we need is your </p>
            <p>location and the time that you will be available.</p>
        </div>
        <div class="col-4 ms-5">
            <h3>Discount</h3>
            <img src="{% static 'assets/img/img_7.png' %}" class="img-fluid" alt="">
            <p>We offer special discount to our clients</p>
            <p>who participate in all acations in our company</p>
            <p> for a period of 3 months every year</p>

        </div>
</div>







    </section><!-- /Services Section -->
{% endblock %}